*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $color-floral-white;
	height: 100vh;
	width: 56rem;
	padding: 3rem;
	margin: 5rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
