html {
	font-size: 62.5%; /* (10*100/16) */
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: $color-brown-dark;
}

.header {
	&__title {
		font-size: 6rem;
		font-weight: bold;
	}

	&__about{
		font-size: 1.6rem;
	}	
}

.game-actions{
	&__new-game-btn {
		font-size: 1.6rem;
		font-weight: bold;
	}
}

.grid__cell {
	font-size: 3rem;
	font-weight: bold;
}

.game__status {
	font-size: 5rem;
	font-weight: bold;
	color:#c89765 ;
	text-transform: uppercase;
}
