@import 'variables';
@import 'typography';
@import 'animations';
@import 'base';
@import 'grid';

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

main {
	width: 100%;
}

.game-actions {
	text-align: right;
	margin-bottom: 4rem;	

	&__new-game-btn {
		height: 4rem;
		width: 10rem;
		background-color: $color-silk;
		color: white;
		border: none;
		border-radius: 2px;
		cursor: pointer;
	}
}


.game{
	position: relative;

	&__status{
		opacity: 0;
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(#ebd6c2, .5);		
		color:#e0862a;
		z-index: 10;	
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all .5s;
		transform: scale(1.1, 1.1);
	}
}
